@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@keyframes changeColor {
  0% {background-color: black}
  100% {background-color: rgba(0, 0, 0, 0)}
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#transition {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 998;
  animation-duration: 2s;
}

#blur {
  display: flex;
  position: absolute;
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.555);
  justify-content: center;
  align-items: flex-start;
  padding: 200px;
}

#presentation {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 550px;
  position: fixed;
  text-align: center;
  border-radius: 20px;
  background-color: black;
  color: white;
  line-height: 3.2rem;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.521);
}

#presentation h1 {
  font-size: 60px;
  margin: 30px 0px 50px 0px;
}

#presentation h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

#presentation p {
  font-size: 35px;
}

#close {
  width: 50px;
  align-self: flex-end;
  margin: 5px 5px 0px 0px;
  color: black;
  background-color: white;
  border-radius: 15px;
}

#close:hover{
  cursor: pointer;
  background-color: rgb(211, 210, 210);
}

#closePresentation {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  background: url(../media/header.jpg) no-repeat top;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 100px;
  font-family: 'Young Serif', serif;
  color: white;
  font-weight: normal;
  border: 10px solid white;
  padding: 0px 20px;
}

.content {
  width: 800px;
  margin: 50px 0px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.76);
  padding: 20px;
}

.content h1 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
}

.content h2 {
  font-size: 45px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.content p {
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 30px;
  text-indent: 30px;
}

.content img {
  width: 500px;
}

.img {
  text-align: center;
  margin: 50px 0px;
}

#translation {
  display: none;
  position: fixed;
  text-align: center;
  width: 210px;
  height: 24px;
  right: 0;
  bottom: 0;
  margin: 0 50px 50px 0px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid black;
  color: white;
}

#translation:hover {
  cursor: pointer;
}

#en {
  width: 50%;
  border-right: 2px solid rgba(0, 0, 0, 0.623);
  background-color: blue;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

#pt {
  width: 50%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  color: black;
}

.changeLang {
  display: none;
}

video {
  position: absolute;
  width: 1920px;
  z-index: 999;
}

.button {
  margin: 20px 0px;
  text-align: center;
}

#confetti {
  font-size: 24px;
  background-color: white;
  padding: 10px;
}

#confetti:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
}

img[alt="confetti"] {
  display: none;
  position: absolute;
  height: 240%;
}

@media screen and (max-width: 930px) {
  #presentation {
    width: 300px;
    height: 400px;
    line-height: 2.5rem;
  }
  
  #presentation h1 {
    font-size: 30px;
    margin: 20px 0px 15px 0px;
  }
  
  #presentation h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  #presentation p {
    font-size: 25px;
  }
  
  header {
    height: 200px;
  }

  header h1 {
    font-size: 40px;
    padding: 0px 10px;
  }
  
  .content {
    width: 330px;
    margin: 50px 0px;
  }
  
  .content h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .content h2 {
    font-size: 30px;
  }
  
  .content p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  
  .content img {
    width: 300px;
  }
  
  .img {
    text-align: center;
    margin: 40px 0px;
  }
  
  #translation {
    width: 180px;
    height: 20px;
    margin: 0 25px 25px 0px;
    font-size: 18px;
  }
}